[submodule "ASL-MobileAPP"]
	path = ASL-MobileAPP
	url = https://github.com/Asaph-Velazquez/ASL-MobileAPP.git
[submodule "ASL-Web"]
	path = ASL-Web
	url = https://github.com/Asaph-Velazquez/ASL-Web.git
[submodule "ASL-CallApp"]
	path = ASL-CallApp
	url = https://github.com/Asaph-Velazquez/ASL-CallApp.git
	branch = main
